
[Desktop Entry]
Type=Application
Name=loadbank
Exec=/home/loadbank/Desktop/loadbank_script.sh
Terminal=true

https://github.com/LUATTRAN88/PJ-2025-SG.git

